.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
.df {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.c {
  margin-top: 5px;
}
.d {
  flex: 0.2 0 21%;
  margin-top: 5px;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: black;
  margin-bottom: 5px;
  color: white;
  align-content: center;
}
.nav > h5 {
  margin-left: 20px;
  font-family: "Roboto Mono", monospace;
}
